<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- アプリが使用する権限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".KozuZen"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="DeChain"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KozuZen">
         <!-- Providers -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- Services -->
        <service
            android:name=".net.update.InstallService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="true" />
        <service
            android:name=".net.update.DownloadService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="true" />
        <service
            android:name=".net.usage.UsageDataSendService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false"
            android:foregroundServiceType="dataSync"/>
        <!-- Receivers -->
        <receiver
            android:name=".net.usage.UsageDataBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />
        <receiver
            android:name=".net.update.DownloadExitReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".net.update.DeChainUpDater$UpdateDialogBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES" />
        <receiver
            android:name=".net.usage.RePendingBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <!-- Activities -->

        <activity
            android:name=".tutorial.TutorialListActivity"
            android:exported="false" />
        <activity
            android:name=".tutorial.TutorialViewActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".UpDateActivity"
            android:exported="false" />
        <activity
            android:name=".CodeActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RequestPermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".InitActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResetPassAuthActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountAuthActivity"
            android:exported="false" />
        <activity
            android:name=".AuthorizationActivityAbstract"
            android:exported="false" />
    </application>

</manifest>